#navigation {
    display: flex;
    background-color: black;
    color: white;
    font-weight: bold;
    position: fixed;
    height: 80px;
    width: 100%;
    top: 0;
    left: 0;
    padding-right: 20px;
    padding-left: 20px;
}

#navigation i.fa {
    font-size: 40px;
}

#navigation div.icons {
    display: flex;
}

#navigation div.icons > div {
    margin-left: 10px;
}

#navigation .logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navigation .logo a {
    text-decoration: none;
}

#navigation .logo span,
#navigation .logo i {
    font-size: 40px;
    text-decoration: none;
    color: white;
}

#navigation .menu-icon {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#navigation .menu {
    position: fixed;
    left: -100%;
    width: 100%;
    transition: left 0.5s;
    height: 100%;
    z-index: 1;
}

#navigation div.menu.active {
    left: 0;
    transition: left 0.5s;
}

#navigation div.menu .menu-container {
    border-right: 1px solid white;
    width: 35%;
    height: 100%;
    background-color: black;
}